In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('Future_Forecasted_Sales.csv')

In [7]:
data.rename(columns={'Unnamed: 0':'Date','Forecasting':'Forecasted_sales'},inplace=True)

In [8]:
data['Date'] = pd.to_datetime(data['Date'])

In [10]:
data=data.sort_values(by='Date',ascending='True')

In [11]:
data.set_index('Date',inplace=True)

In [12]:
data

            Forecasted_sales
Date
2018-03-25      2.001255e+06
2018-03-26      1.857184e+06
2018-03-27      1.956634e+06
2018-03-28      2.186617e+06
2018-03-29      2.173553e+06
...                      ...
2018-06-21      2.106937e+06
2018-06-22      1.902912e+06
2018-06-23      1.982405e+06
2018-06-24      2.315474e+06
2018-06-25      2.300420e+06

[93 rows x 1 columns]

In [13]:
avocado_data=pd.read_csv('avocado.csv')

In [25]:
filt=(avocado_data['region']=='Houston') & (avocado_data['type']=='conventional')
avocado_data=avocado_data.loc[filt].drop(columns=['region','type'])

In [27]:
avocado_data=avocado_data.sort_values(by='Date',ascending='True')

In [30]:
avocado_data.iloc[-1:]['AveragePrice']

8694    0.56
Name: AveragePrice, dtype: float64

<H2> Following calculations based on https://www.r-bloggers.com/2019/11/combining-price-elasticities-and-sales-forecastings-for-sales-improvement/ </h2>

In [44]:
desc=data.describe()
desc_min=desc.loc['min','Forecasted_sales']
desc_max=desc.loc['max','Forecasted_sales']

In [46]:
import random
for i in range(10):
    print(random.uniform(desc_min,desc_max))

1658581.7644587662
1771197.8780517923
2770025.584597326
2618140.389097402
1541386.3926833156
2320803.039603516
1835873.6021256875
1873379.8430110554
2371318.2381225172
2202691.884967272

In [ ]:
recent_price=0.56
ped=-0.60300792
adjusted_price=(Target_sales/Forecasted_sales)^(1/ped)